<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/nall_logo.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>User | Sign in</title>
</head>

<body>

    <body style="background-color: #E2E6EB;">

        <div class="limiter-login">
            <div class="container-login">
                <div class="wrap-login">
                    <form class="login-form validate-form" method="post">
                        <img class="d-block mx-auto mb-2" src="{{ url_for('static', filename='images/nall_logo.png') }}"
                            alt="" width="111px" height="116px">
                        <p style="text-align: center ;" class="fw-bold">Network of Academic
                            <br>Law Librarians, Inc.</p>


                        <h2 class="fw-bold mt-4 mb-4" style="font-family: 'Open Sans';">Forgot Password?</h2>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <p style="font-size: 15px;  font-family: 'Inter', sans-serif;">No problem! Just fill in the
                                email below and we'll send you password reset instructions!</p>
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" name="email" />
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mx-0 px-0 justify-content-between">
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mt-1">Send email</button>



                        </div>
                        
                        {% if alert %}
                        <div>
                            <p>{{alert}}
                        </div>
                        {% endif %}

                        <!-- Back to login -->
                        <div class="col mb-0 mt-xl-5">
                            <a href="/signin" class="link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                </svg> Back to Login</a>
                        </div>

                    </form>





                    <!-- Background Img -->
                    <div class="login-img"
                        style="background-image: url({{ url_for('static', filename='images/signin.png') }});">
                    </div>


                </div>
            </div>

    </body>

</html>