body{
    color: black;
    font-family: 'Inter'!;
}  
 /*nav bar */
.side-nav{
    border-right: 1px solid #9F9F9F;
    border-radius: 2px;
    height: 500px;
}

.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
  border-right: 1px solid #363434;
  
}

.side-text{
    color: #2E052D;
    font-size: 20px;
}

a:link, a:visited {
    color: #7B7B7B;
}
/* footer */
footer{
    background-color: #2E052D; 
    color: white;
}

.long{
  padding-right:40px;
  margin-top: 5px;
}

.short {
  margin-top: 5px;;
}

p{
  padding-right:70px;
  font-size:18;
  margin-top:10px;
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: -10px;
}
.inputs{
  background-color: aliceblue;
  border: 0;
  font-size: 25;
  height:40px;
  margin-bottom: -10px;
}

.btn{
  color:#863084;
  font-size:16;
  border-radius: 0%;
  margin-right: 5%;
  margin-bottom: -10px;
  
}
