body{
    color: black;
    font-family: 'Inter'!;
}  
 /*nav bar */
.side-nav{
    border-right: 1px solid #9F9F9F;
    border-radius: 2px;
    height: 900px;
}

.side-text{
    color: #2E052D;
    font-size: 20px;
}

a:link, a:visited {
    color: #7B7B7B;
}
/* footer */
footer{
    background-color: #2E052D; 
    color: white;
}


/* Contact Form */

  
  .cform button{
    background: #2E052D;
  }