body{
    color: black;
    font-family: 'Inter'!;
}   
.side-nav{
    border-right: 4px solid #9F9F9F;
}

.side-text{
    color: #2E052D;
}

a:link, a:visited {
    color: #7B7B7B;
}

footer{
    background-color: #2E052D; 
    color: white;
}

ul{
    display: inline-block;
    list-style: none;
    font-size: 20px;
  }
  
  body ul:nth-child(2){
    /* h3 is 1.3 em */
    font-size: 1.3em;
  }
  
  
  li{
    /*indirectly sets a uniform baseline, the value is arbitrary*/
    height: 45px;    
  }

  .contactus{
      color:rgba(46, 5, 45, 1);
  }

