body{
    color: black;
}

.side-nav{
    border-right: 4px solid #9F9F9F;
}

.side-text{
    font-family: 'Open Sans';
    color: #2E052D;
}

a:link, a:visited {
    color: #7B7B7B;
}

footer{
    background-color: #2E052D; 
    color: white;
}