body{
    color: black;
}

/* .row{ */
    /* padding-top: 20px; */
    /* padding-right: 80px; */
    /* padding-bottom: 20px; */
    /* padding-left: 80px; */
/* } */

/* iframes separator */
.frame-side{
  float:left;
  margin-right:20px;
}
.clear{
  clear:both;
}

/* side navigation */
.side-nav{
    border-right: 2px solid #9F9F9F;
    height: 100%;
    border-radius: 2px;
}

.side-text{
    font-family: 'Open Sans';
    color: #7B7B7B;
}

.side-text a:link{
  color: #7B7B7B;

}

.side-text a:hover{
  color:#2E052D;
}

.side-text a:active{
  color:#2E052D;
}

.btn {
    background: #2E052D;
  }
  

/* footer */
  
 footer{
     background-color: #2E052D; 
     color: white;
 }

  /*view repository*/
    /* search bar*/
.h1{
    text-align: center;
    color: #2E052D;
    font-family: 'Open Sans';
    font-size: 30px;
}

.search-bar{
  text-align: center;
}

input[type=text]{
  width: 50%;
  border: 2px solid #9F9F9F;
  border-radius: 20px;
  margin: 8px 0;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
}

input[type=text]:focus{
  border-color:#2E052D;
}

.search-bar input[type=text]{
  padding-left: 40px;
  position:relative;
}

.search-bar i{
  position: absolute;
  left: 0px;
  top: 105px;
  padding: 9px 75px;
}

.search-bar button{
  color: white;
  font-family: 'Open Sans';
}

/* Table */
table,th,td{
  padding: 30px 60px;
  border: 2px solid #9F9F9F;
  font-family: 'Open Sans';
  text-align: center;
}


/* user login */

.limiter-login {
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  
  .container-login {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
  }
  

  .wrap-login {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
  
  }
  
  .login-form {
    width: 560px;
    min-height: 100vh;
    display: block;
    background-color: #f7f7f7;
    padding: 173px 55px 55px 55px;
    color: #2E052D;
  }


  .login-img {
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  
/* SEARCH */

.input-group.md-form.form-sm.form-1 input{
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
  

