<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="utf-8">
</head>

<body>
    <div class="textabove text-center p-4" style="color: #2E052D;">
        <h1>Access Requests</h1>
    </div>

    <!-- request access table -->
    <br>
    <table class="table align-items-center p-4">
        <tr>
            <div class="table header">
                <th>Date</th><!--date of when it was requested-->
                <th>Title</th> <!-- Article Title-->
                <th>Author</th>
                <th>Institution</th>
                <th>User Full Name</th> <!--Requester's ID number-->
                <th>User Email</th> <!-- Requester's Email -->
                <th>URL</th> <!-- Reason for Access -->
            </div>
        </tr>
        <tr>
            {% for col in listOfAccessRequests %}
                <tr>
                    <th>{{ col['date'] }}</th>
                    <th>{{ col['title'] }}</th>
                    <th>{{ col['author'] }}</th>
                    <th>{{ col['institution'] }}</th>
                    <th>{{ col['fullName'] }}</th>
                    <th>{{ col['email'] }}</th>
                    <th>{{ col['url'] }}</th>
                </tr>
            {% endfor %}
        </tr>
    </table>

</body>
</html>