<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings & Privacy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_setting.css') }}">
</head>

<body class="d-flex flex-column h-100" >
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #863084;">
        <div class="container">
            <a class="navbar-brand " href="/admin/">
                <img src="{{ url_for('static', filename='images/nall_logo.png') }}" width="50" height="54" />
            </a>
            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="/admin/">Index</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<!--Title header start-->
    <header class="p-4 text-white" style="background-color: #2E052D;">
        <div class="container d-flex flex-wrap align-items-center justify-content-center">
            <div>
                <img src="{{ url_for('static', filename='images/nall_logo.png') }}" width="50" height="54" />
            </div>
            <div class="px-3 text-center text-white">Network of Academic Law Librarians, Inc.</div>
        </div>
    </header>

<!--Side navbar start-->
    <div class="row p-5">
        <div class="side-nav col-2 container-fluid p-5" style="background-color:white;">
            <div class="side-text">
                <a href="/admin/settings" class="nav-link">Settings and Privacy</a> <br>
                <a href="/admin/help" class="nav-link">Help & Support</a> 
                <br><br><br><br><br><br><br><br><br><br><br>
                <a href="/admin/signout" class="nav-link" style="color:rgba(244, 83, 83, 1)">Sign out</a> 
            </div>
        </div>

        <div class="main-window col-10 p-5" style="background-color:white;">
            <div class="w-75 px-3">
                <h4>Settings and Privacy</h4>
                <hr>
                <div class="input-group mb-3">
                    <p class="short">Name</p>
                    <input type="text" class="inputs form-control" value={{adminData['fullName']}}>
                    <button type="button" class="btn btn-light" >Edit</button>
                  </div>
                <hr>
                <div class="input-group mb-3">
                    <p class="short">Email </p>
                    <input type="emal" class="inputs form-control" value={{adminData['email']}}>
                    <button type="button" class="btn btn-light" >Edit</button>
                  </div>
                <hr>
                <div class="input-group mb-3">
                    <p class="long">Institution </p>
                    <input type="text" class="inputs form-control" value={{adminData['institution']}}>
                    <button type="button" class="btn btn-light" >Edit</button>
                  </div>
                <hr>
            <!-- CONTACT INFO -->

                             
               
            </div>
        </div>
    </div>


    <footer class="footer mt-auto py-3 fixed-bottom footer-style">
        <div class="container text-center">
            <p> &#169; 2022 A Gateway to Open Access Legal Resources in the Philippines All rights reserved</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
</body>

</html>

